* {
    box-sizing: border-box;
}

html,
body {
    background: white;
    height: 100%;
    margin: 0%;
    position: relative;
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: red;
    width: 100%
}

.header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 0 200px;
    color: black;
    width: 100%;
    text-align: center;
}

.header .main-img {
    background-color: blue;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .main-img p {
    padding: 0 30%;
    color: gray;
}

.header .tboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header .tboxes div:nth-child(1) {
    background-color: gray;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header .tboxes div:nth-child(2) {
    background-color: red;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header .tboxes div:nth-child(3) {
    background-color: violet;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ideas-life {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 400px;

}

.ideas-life div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 25%;
    max-height: 200px;
}

.ideas-life div:nth-child(1) {
    flex: 1 1 50%;
}
.ideas-life div:nth-child(2) {
    flex: 1 1 50%;
}

.section-3 {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 .galery-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "img-1 img-2 text-big"
        "img-1 img-2 text-big"
        "text-small img-3 text-big";
    gap: .5rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 800px;
}

.galery-1 .img-1 {
    grid-area: img-1;
}
.galery-1 .img-2 {
    grid-area: img-2;
}
.galery-1 .text-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: red;
    grid-area: text-big;
    text-align: center;
}
.galery-1 .text-small {
    grid-area: text-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
}
.galery-1 .img-3 {
    grid-area: img-3;
}