* {
    box-sizing: border-box;
}

html,
body {
    background: white;
    height: 100%;
    margin: 0%;
    position: relative;
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: red;
    width: 100%
}

.header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 0 200px;
    color: black;
    width: 100%;
    text-align: center;
    position: fixed;
}

.header .main-img {
    background-color: blue;
    background-image: url(https://picsum.photos/1000/400?grayscale);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .main-img p {
    padding: 0 30%;
    color: wheat;
}

.header .tboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header .tboxes div:nth-child(1) {
    background-color: gray;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header .tboxes div:nth-child(2) {
    background-color: red;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header .tboxes div:nth-child(3) {
    background-color: violet;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ideas-life {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 300px;

}

.ideas-life h1 {
    justify-content: right;
}

.ideas-life div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 25%;
    /* max-height: 200px; */
    text-overflow: clip;
}

.ideas-life div:nth-child(1) {
    flex: 1 1 50%;
}
.ideas-life div:nth-child(2) {
    flex: 1 1 50%;
    height: 400px;
    overflow: hidden;
    line-clamp: 3;
    /* padding: .5rem; */
}

.section-3 {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 .galery-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "img-1 img-2 text-big"
        "img-1 img-2 text-big"
        "text-small img-3 text-big";
    gap: 8px;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 800px;
}

.galery-1 .img-1 {
    grid-area: img-1;
}
.galery-1 .img-2 {
    grid-area: img-2;
}
.galery-1 .text-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100%;
    background-color: red;
    grid-area: text-big;
    text-align: center;
}
.galery-1 .text-small {
    grid-area: text-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
}
.galery-1 .img-3 {
    grid-area: img-3;
}

.section-4 {
    display: flex;
    background-color: red;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.section-4 .flexbox {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 800px;

}

.section-4 .flexbox .text-boxes {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex: 1 1 50%
}

.section-4 img {
    flex: 1 1 50%;
}

.section-5{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-5 .galery-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "img-1 img-2 img-3"
        "img-4 img-5 img-6"
        "img-7 img-8 img-9"
        "info-content img-10 half-lines";
    gap: 8px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section-5 .galery-2 .img-1 {
    grid-area: img-1;
}

.section-5 .galery-2 .img-2 {
    grid-area: img-2;
}

.section-5 .galery-2 .img-3 {
    grid-area: img-3;
}

.section-5 .galery-2 .img-4 {
    grid-area: img-4;
}

.section-5 .galery-2 .img-5 {
    grid-area: img-5;
}

.section-5 .galery-2 .img-6 {
    grid-area: img-6;
}

.section-5 .galery-2 .img-7 {
    grid-area: img-7;
}

.section-5 .galery-2 .img-8 {
    grid-area: img-8;
}

.section-5 .galery-2 .img-9 {
    grid-area: img-9;
}

.section-5 .galery-2 .info-content {
    grid-area: info-content;
}

.section-5 .galery-2 .img-10 {
    grid-area: img-10;
}

.section-5 .galery-2 .half-lines {
    grid-area: half-lines;
    background:repeating-linear-gradient(
        to bottom right,
        black 0%,
        black 50%,
        transparent 50.1%,
        transparent 100%
    );
    width: 200px;
    height: 200px;
}

.section-5 .facts-numbers {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section-5 .facts-numbers h3 {
    text-align: center;
    flex: 1 1 100%;
}

.section-5 .facts-numbers h3::before {
    content: "| \A";
    display: flex;
    white-space: pre;
    justify-content: center;
    font-size: 20px;
}

.section-5 .facts-numbers div {
    flex: 1 1 25% ; 
}
